{% extends 'index.html' %}

{% block content %}

<div class="container">
	<div class="row">
		<!-- Blog post -->
			<div class="card m-auto">
				<img class="card-img-top" src="{{blog_post.image.url}}">
				<div class="card-body mt-2 mb-2">
					<h2 class="card-title">{{blog_post.title}}</h2>
					<p class="card-text">{{blog_post.body|safe}}</p> <!-- safe enables rendering of html in blog content body -->

					{% if blog_post.author == request.user %}
						<a class="btn btn-primary" href="{% url 'blog:edit' blog_post.slug %}">Edit Post</a>
					{% endif %}
				</div>
				<div class="card-footer text-muted">
					Last updated: {{blog_post.date_update}} by {{blog_post.author}}
				</div>
			</div>
		<!-- END Blog Post -->
	</div>
</div>

{% endblock content %}