{% extends 'index.html' %}

{% block content %}

<div class="container">
	<div class="row">
		<!-- Create new post bar -->
		<div class="create-post-bar d-lg-none col-lg-7 offset-lg-1">
			<a href="{% url 'blog:create' %}">Create Post</a> <!-- urls > blog > create -->
		</div>
		<!-- END Create new post bar -->

		<!-- Blog feed -->
		<div class="left-column col-lg-7 offset-lg-1">
			<div class="blog-post-container">
				
			</div>
		</div>
		<!-- END Blog feed -->

		<!-- Create new post -->
		<div class="right-column col-lg-3 d-lg-flex d-none flex-column">
			<div class="create-post-bar">
				<a href="{% url 'blog:create' %}">Create post</a>
			</div>
		</div>
		<!-- END Create new post -->
	</div>
</div>

{% endblock content %}