{% extends 'index.html' %}

{% block content %}

<div class="container">
	<div class="row">
			<div class="card m-auto">
				<div class="card-body mt-2 mb-2">
					<h2 class="card-title">About us</h2>
					<p>Cube Helper is a website for people interested in cubing in general, whether you want to learn to solve a cube for the first time, or you can solve it in under 10 seconds, to consult different posts about cubing and other random cubing related stuff.</p>
				</div>
			</div>
	</div>
</div>

{% endblock content %}