{% extends 'index.html' %}

{% block content %}

<div class="container">
	<div class="row">
			<div class="card m-auto">
				<div class="card-body mt-2 mb-2">
					<h2 class="card-title">Frequently asked questions</h2>
					<h3>What is a rubik's cube?</h3>
					<p class="answer">Rubik's Cube is a 3-D combination puzzle invented in 1974 by Hungarian sculptor and professor of architecture Ernő Rubik.</p>
					<h3>What is a speedsolving/speedcubing?</h3>
					<p class="answer">Speedcubing (also known as speedsolving) is the hobby involving solving a variety of twisty puzzles, the most famous being the 3x3x3 puzzle or Rubik's Cube, as quickly as possible.</p>
					<h3>How can I learn to solve a rubik's cube?</h3>
					<p class="answer">There are plenty of resources on the internet showing you how to solve a rubik's cube on your own. Personally, I learnt by watching youtube videos and consulting algorithm sheets for speedcubing.</p>
					<h3>Why should I learn to solve a rubik's cube?</h3>
					<p class="answer">So you can FLEX on people.</p>
					<h3>Why should I learn to speedcube?</h3>
					<p class="answer">So you can FLEX on people who can't.</p>
					<h3>How can I improve my solve times?</h3>
					<p class="answer">There are plenty of different ways to go about it, such as learning new methods, new algorithms, new fingertricks, etc. In the end, it boils down to how much you <b>practice</b>.</p>
				</div>
			</div>
	</div>
</div>

{% endblock content %}