{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row">

		<!-- blog feed -->
		<div class="left-column col-lg-7 offset-lg-1">

			<!-- Top 'create post' bar -->
			<!-- If screen size is large, div not displayed -->
			<div class="d-lg-none mb-3">
				<div class="card m-auto d-flex flex-column p-3">
					<img class="img-fluid d-block m-auto pb-2" src="{% static 'cube_logo.png' %}" width="72" height="72">
					<p class="lead">Lorem ipsum dolor</p>
					{% if user.is_admin %}
						<p class="m-auto"><a class="btn btn-primary" href="{% url 'blog:create' %}">Create new post</a></p>
					{% else %}
						<p class="m-auto">Our staff manages the blog posts</p>
					{% endif %}
				</div>
			</div>
			<!-- END Top 'create post' bar -->

			<!-- Blog posts-->
			{% if blog_posts %}
				{% for post in blog_posts %}
					<div class="blog-post-container">
						{% include 'blog/snippets/blog_post_snippet.html' with blog_post=post %}
					</div>
				{% endfor %}
			{% else %}	
				<div class="blog-post-container">
						{% include 'blog/snippets/blog_post_snippet.html' with query=query %}
					</div>
			{% endif %}	
			<!-- END Blog posts-->
			<!-- Page number -->
			{% include 'blog/snippets/blog_post_pagenum.html' with blog_posts=blog_posts %}
			<!-- END Page number -->
		</div>
		<!-- END blog feed -->

		<!-- Right 'create post' column  -->
		<!-- If screen is small, div not displayed -->
		<div class="right-column col-lg-3 d-lg-flex d-none flex-column">

			<div class="card create-post-bar d-flex flex-column p-3">
				<img class="img-fluid d-block m-auto pb-2" src="{% static 'cube_logo.png' %}" width="72" height="72">
				<p class="lead">Lorem ipsum dolor</p>
				{% if user.is_admin %}
					<p class="m-auto"><a class="btn btn-primary" href="{% url 'blog:create' %}">Create new post</a></p>
				{% else %}
					<p class="m-auto">Our staff manages the blog posts</p>
				{% endif %}
			</div>
		
		</div>
		<!-- END Right 'create post' column  -->

	</div>

{% endblock content %}