{% extends 'index.html' %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="card m-auto">
			<div class="card-body mt-2 mb-2">
				<h2 class="card-title">Cube scrambler</h2>
				<p>This is the Cube Scrambler Page</p>
				<p>It will generate random official WCA scrambles for 3x3 up to 5x5</p>

				{% if scramble %}
				<p> To generate a new scramble, please click on one of the buttons below</p>
				<p class="m-auto">Scramble for {{scramble.scrambleType}}: {{scramble.scramble}}</p>
				{% else %}
				<p> To generate a new scramble, please click on one of the buttons below</p>
				{% endif %}
				<p class="m-auto scramble"><a class="btn btn-primary "href="{% url 'scrambler' type=2 %}" title="2x2">2x2</a></p>
				<p class="m-auto scramble "><a class="btn btn-primary "href="{% url 'scrambler' type=3 %}" title="3x3">3x3</a></p>
				<p class="m-auto scramble"><a class="btn btn-primary "href="{% url 'scrambler' type=4 %}" title="4x4">4x4</a></p>
				<p class="m-auto scramble"><a class="btn btn-primary "href="{% url 'scrambler' type=5 %}" title="5x5">5x5</a></p>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

